.available-recipients {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.available-recipients h2 {
  margin-top: 0;
  color: #57aaec;
}

.available-recipients h3 {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.available-recipients h3 svg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.search-container {
  margin-bottom: 20px;
  position: relative;
}
.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none;
}
.search-container input {
  width: 50%;
  padding: 10px 30px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

ul {
  list-style-type: none;
  padding-left: 20px;
  margin: 0;
}

li {
  padding: 8px 10px;
  cursor: pointer;
}

li:hover {
  background-color: #f0f0f0;
}
